.login-container {
  text-align: center;
  margin-top: 128px;
}

.login-panel {
    margin: 16px auto auto auto;
    padding: 32px 16px 32px 16px;
    width: 460px;
    height: 280px;
    border-radius: 10px;
    background-color: white;
}

.login-panel-main-title {
  padding: 18px 36px 36px 36px;
  color: gray;
}

.login-panel-text-field {
    margin: 0 32px 32px 32px !important;
    background-color: #f8fdff;
}

.login-panel-main-button {
  width: 160px;
  margin-left: 72px !important;
}