.app-main {
  height: 100vh;
}

.app-drawer-main {
  .MuiDrawer-paper {
    background-color: white;
  }
}

.app-drawer-close {
  .MuiPaper-root {
    overflow: hidden;
    width: 64px !important;
    margin-top: 64px !important;
  }
}

.app-drawer-open {
  .MuiPaper-root {
    width: 240px !important;
    margin-top: 64px !important;
  }
}

.app-drawer-filler-close {
  width: 64px !important;
}

.app-drawer-filler-open {
  width: 240px !important;
}

.app-drawer-header {
  .MuiIconButton-root {
    display: flex;
    margin-left: auto;
    margin-top: 9px;
    svg {
      font-size: 30px;
      color: white;
    }
  }
  min-height: 64px;
  width: 216px;
}

.main-router-content {
  margin: 20px 20px 20px 260px;
}
