body {
    background-color: #eef3f6;
}

.main-logo {
    height: 96px;
}

.app-main {
    height: 100vh;
}

.app-bar {
    background-color: white !important;
    border-bottom: 1px solid lightgray;
}

.app-bar-logo {
    margin-left: 16px;
    height: 48px;
}

.main-router-content {
    margin: 20px 20px 20px 260px;
}

.full-width-class {
    width: 100% !important;
}

.app-error-container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 12% auto auto auto;
}

.app-error {
    top: 30%;
    width: 1000px;
    margin: auto;
}

.app-error-button {
    width: 300px;
    margin: auto !important;
}