.container {
    margin: 16px 160px;
}

.upFavourStyle {
    transform: rotate(270deg);
}

.upFavourColorStyle {
    color: #1565c0;
    transform: rotate(270deg);
}

.downFavourStyle {
    transform: rotate(90deg);
}

.downFavourColorStyle {
    color: #d32f2f;
    transform: rotate(90deg);
}
